/**
 * component Footer styles
 */

@import '../../styles/colors';
@import '../../styles/variables';

.footer-component {
  position: relative;
  height: @footerHeight;
  background-color: @darkBg;

  .footer-inner {
    position: relative;
    width: @containerWidth;
    height: 100%;
    margin: 0 auto;
    padding-top: 46px;
  }

  .footer-logo {
    float: left;
    display: block;
    width: 140px;
    height: 47px;
    margin-right: 157px;
  }

  .footer-menu {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      display: inline-block;
      text-decoration: none;
      color: @footerColor;
      font-size: 16px;
    }

    img {
      height: 28px;
      vertical-align: middle;
      margin-right: 14px;
      margin-top: -3px;
    }

    .item {
      float: left;
      height: 47px;
      margin-right: 80px;
      line-height: 47px;
    }
  }

  .contact-info {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    color: @footerColor;
    font-size: 16px;

    li {
      line-height: 21px;
      margin-bottom: 1px;
      margin-top: 11px;

      span {
        display: inline-block;
        height: 1px;
        width: 4px;
        margin-right: 8px;
        background-color: @brandColor;
        vertical-align: middle;
      }
    }
  }

  .copy-right {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: @copyRightHeight;
    line-height: @copyRightHeight;
    background-color: @copyRightBg;
    text-align: center;
    font-size: 12px;
    color: @fontLightest;
  }

  .footer-hidden {
    position: absolute;
    left: 0;
    bottom: 37px;
    color: #484b53;
  }
}
