/**
 * component NewsItem styles
 */

@import '../../styles/colors';

.news-item-component {
  display: block;
  padding: 34px 54px;
  border-bottom: 1px solid @border;

  &:last-child {
    border-bottom: 0;
  }

  &.loading {
    .news-item {
      &-title,
      &-time,
      &-desc {
        color: transparent;
        background-color: @mediumBg;

        &::before {
          display: none;
        }
      }
    }
  }

  .news-item {
    &-title-wrapper {
      display: flex;
      width: 100%;
      line-height: 21px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }

    &-title {
      position: relative;
      display: block;
      padding-left: 22px;
      font-size: 16px;
      line-height: 21px;
      margin: 0 0 22px;
      color: @fontLight;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &::before {
        content: ' ';
        display: block;
        background-color: @brandColor;
        width: 6px;
        height: 6px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-time {
      min-width: 120px;
      font-size: 14px;
      color: @fontLightest;
      text-align: right;
      line-height: 21px;
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 22px;
    }

    &-desc {
      padding-left: 22px;
      font-size: 14px;
      line-height: 28px;
      color: @fontLighter;
    }
  }
}
