/**
 * component PayFlowBar styles
 */

@import '../../styles/colors';

.pay-flow-bar-component {
  height: 94rem / 20;
  width: 100%;
  background-color: @mediumBg;

  .pay-flow-bar {
    &-inner {
      display: flex;
      height: 100%;
      width: 1026rem / 20;
      margin: 0 auto;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    &-title {
      min-width: 90rem / 20;
      flex-basis: 90rem / 20;
      font-size: 18rem / 20;
      color: @fontDark;
      font-weight: 600;
    }

    &-progress {
      display: flex;
      height: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      &-arrow {
        margin: 0 (10rem / 20);
      }

      img {
        height: 35rem / 20;
        margin-right: 8rem / 20;
      }

      &-name {
        font-size: 16rem / 20;
        color: @fontLight;
        margin-bottom: 3rem / 20;
      }

      &-desc {
        font-size: 12rem / 20;
        color: @fontLighter;
      }

      &.progress-1 {
        img {
          width: 39rem / 20;
        }
      }

      &.progress-2 {
        img {
          width: 33rem / 20;
        }
      }

      &.progress-3 {
        padding-right: 46rem / 20;
        box-shadow: (4rem / 20) 0 (14rem / 20) 0 rgba(0, 0, 0, 0.08);

        img {
          width: 38rem / 20;
          margin-top: -5rem / 20;
        }
      }
    }

    &-contact {
      min-width: 115rem / 20;
      text-align: center;
      flex-basis: 115rem / 20;
      white-space: nowrap;

      &-phone {
        font-size: 16rem / 20;
        color: @fontLight;
      }

      &-desc {
        font-size: 12rem / 20;
        color: @fontLighter;
      }
    }
  }
}
