/**
 * component ProjectBanner styles
 */

@import '../../styles/colors';

.project-banner-component {
  height: 411px;
  background: @darkBg url('./imgs/bg_projinfo@2x.png') no-repeat center top;
  background-size: cover;

  .project-banner {
    &-info {
      position: relative;
      width: 1026px;
      height: 100%;
      margin: 0 auto;
      padding: 57px 0;
    }

    &-cover {
      float: left;
      width: 212px;
      height: 296px;
      background: @black no-repeat center top;
      background-size: cover;
    }

    &-detail {
      float: right;
      height: 100%;
      width: 1026px - (212px + 58px);

      &-title-wrapper {
        line-height: 18px;
        margin-bottom: 24px;
      }

      &-title {
        display: inline-block;
        margin: 0;
        font-size: 18px;
        color: @white;
        margin-right: 19px;
      }

      &-state-tag {
        display: inline-block;
        height: 18px;
        line-height: 18px;
        color: @brandColor;
        font-size: 12px;
        vertical-align: middle;
      }

      &-info {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: @fontLighter;

        li {
          margin-bottom: 8px;
        }
      }

      &-info-bar {
        margin-top: 24px;
      }
    }
  }

  .icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 6px;

    &-stage-10 {
      background: url('./imgs/icon_state_tag_1@1x.svg') no-repeat center;
    }

    &-stage-20 {
      background: url('./imgs/icon_state_tag_2.svg') no-repeat center;
    }

    &-stage-30 {
      background: url('./imgs/icon_state_tag_3@1x.svg') no-repeat center;
    }

    &-stage-40 {
      background: url('./imgs/icon_state_tag_4@1x.svg') no-repeat center;
    }

    &-stage-50 {
      background: url('./imgs/icon_state_tag_5@1x.svg') no-repeat center;
    }

    &-tag {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
