/**
 * container Class styles
 */

@import '../../styles/colors';

.class-container {
  .class-section {
    &-title {
      font-size: 28px;
      color: @fontDark;
      text-align: center;
    }

    // Section 1
    &-1 {
      height: 339px;
      text-align: center;
      background: @darkBg url('./imgs/pic_1_new@2x.png') no-repeat center;
      background-size: cover;
      overflow: hidden;

      &-title {
        color: @brandColor;
        margin: 85px 0 34px;
      }

      &-desc {
        width: 896px;
        margin: 0 auto;
        font-size: 14px;
        color: @LIGHT-GRAY-1;
        line-height: 28px;
      }
    }

    // Section 2
    &-2 {
      text-align: center;
      overflow: hidden;
      background-color: @WHITE;

      &-title {
        margin: 93px 0 38px;

        &.title-2 {
          margin: 133px 0 75px;
        }
      }

      &-desc {
        width: 1013px;
        margin: 0 auto;
        font-size: 14px;
        color: @fontLighter;
        line-height: 28px;
      }
    }

    // Section 3
    &-3 {
      overflow: hidden;
      height: 511px;
      background: @WHITE url('./imgs/bg_who_new@2x.png') repeat-x center;
      text-align: center;
      background-size: contain;

      &-title {
        margin: 64px 0 25px;
      }

      &-desc {
        font-size: 14px;
        color: @fontLighter;
        line-height: 28px;
        margin-bottom: 71px;
      }

      &-img {
        width: 799px;
        margin: 0 auto;
      }
    }

    // Section 4
    &-4 {
      background-color: @WHITE;
      overflow: hidden;
      padding-bottom: 80.6px;

      &-title {
        margin: 81px 0 47px;
      }
    }

    // Section 5
    &-5 {
      background-color: @darkBg;
      height: 553px;
      overflow: hidden;

      &-intro {
        width: 1028px;
        margin: 0 auto;

        .intro-inner {
          width: 100%;
        }

        .intro-title {
          font-size: 28px;
          color: @WHITE;
          margin: 72px 0 80px;
        }

        .intro-items .intro-item {
          width: 202px;

          img {
            margin-bottom: 44px;
          }

          .title {
            color: @WHITE;
            font-size: 18px;
            margin-bottom: 15px;
          }

          .intro {
            color: @fontLighter;
            font-size: 14px;
            line-height: 24px;
            text-align: left;
          }
        }

        .btn-quick-register {
          display: none;
        }
      }
    }

    // Section 6
    &-6 {
      width: 940px;
      margin: 0 auto;
      padding-bottom: 113.7px;

      &-title {
        margin: 76px 0 91px;
      }

      &-progress {
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &-arrow {
          width: 12.5px;
          height: 25.1px;
        }

        img {
          height: 54px;
          margin-right: 24px;
        }

        &-name {
          font-size: 18px;
          color: @fontLight;
          margin-bottom: 10.3px;
        }

        &-desc {
          font-size: 14px;
          color: @fontLighter;
        }

        &.progress-1 {
          img {
            width: 59px;
          }
        }

        &.progress-2 {
          img {
            width: 51px;
          }
        }

        &.progress-3 {
          img {
            width: 56px;
            margin-top: -10px;
          }
        }
      }
    }
  }
}

// ReasonsBar component
.reasons-bar-component {
  .reasons-bar {
    list-style: none;
    width: 1028px;
    margin: 0 auto;
    padding: 0 0 111px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-item {
      text-align: center;
      width: 160px;

      &-icon {
        margin-bottom: 42px;
      }

      &-title {
        font-size: 18px;
        color: @fontLight;
        margin-bottom: 18px;
      }

      &-desc {
        font-size: 14px;
        color: @fontLighter;
        line-height: 24px;
        text-align: left;
      }
    }
  }
}
