/**
 * component Header styles
 */

@import '../../styles/colors';
@import '../../styles/variables';

.header-component {
  height: @headerHeight;
  background-color: @darkBg;

  .header-inner {
    position: relative;
    width: @containerWidth;
    height: @headerHeight;
    margin: 0 auto;
  }

  .header-logo {
    position: absolute;
    top: 12px;
    left: 0;
    display: block;
    width: 140px;
    height: 47px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .header-menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    text-align: center;

    .item {
      display: inline-block;
      height: @headerHeight;
      padding: 0 35px;

      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 24px 0;
        color: @white;
        text-decoration: none;
        font-size: 16px;

        &:hover {
          color: @brandColor;
        }

        &.active {
          color: @brandColor;
          border-bottom: 2px solid @brandColor;
        }
      }
    }
  }

  .header-right-menu {
    position: absolute;
    top: 0;
    right: 0;

    .btn-quick-register {
      display: block;
      border: 1px solid @brandColor;
      padding: 0;
      height: 22px;
      line-height: 22px;
      width: 84px;
      border-radius: 3px;
      font-size: 12px;

      a {
        padding: 0;
      }
    }

    .button-wrapper {
      display: inline-block;
      height: @headerHeight;
      padding: 25px 20px;
      vertical-align: middle;
    }

    .option-area {
      display: inline-block;
      height: @headerHeight;
      background-color: rgba(158, 158, 159, 0.1);
      vertical-align: middle;

      a {
        display: inline-block;
        font-size: 12px;
        color: @fontLightest;
        text-decoration: none;
        vertical-align: middle;
        height: @headerHeight;
        line-height: @headerHeight;
        cursor: pointer;

        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
        }

        &:hover {
          color: @brandColor;
        }
      }

      .split {
        display: inline-block;
        height: 12px;
        margin: 0 5px;
        vertical-align: middle;
        width: 1px;
        background-color: @fontLightest;
      }
    }
  }
}
