/**
 * component Header styles
 */

@import '../../styles/colors';
@import '../../styles/variables';

.header-component {
  height: @headerHeight;
  background-color: @headerBg;

  .header-inner {
    position: relative;
    width: @containerWidth;
    height: @headerHeight;
    margin: 0 auto;
  }

  .header-logo {
    position: absolute;
    top: 12rem / 20;
    left: 0;
    width: 140rem / 20;
    height: 47rem / 20;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .header-menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    text-align: center;

    .item {
      display: inline-block;
      height: @headerHeight;
      padding: 0 (35rem / 20);

      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: (24rem / 20) 0;
        color: @white;
        text-decoration: none;
        font-size: 16rem / 20;

        &.active {
          color: @brandColor;
          border-bottom: (2rem / 20) solid @brandColor;
        }
      }
    }
  }
}
