/**
 * container Uc styles
 */

@import '../../styles/colors';
@import '../../styles/variables';

.uc-container {
  padding: 100px 0 116px;

  .uc-wrapper {
    position: relative;
    padding-left: @leftSideBarWidth;
    min-height: 1279px;
  }

  .uc-left-bar {
    min-height: 1279px;
    text-align: center;
  }

  .uc-right-wrapper {
    min-height: 1279px;
    border-radius: 6px;
    background-color: @WHITE;
  }

  &-userinfo {
    &-avatar {
      height: 96px;
      width: 96px;
      margin: 84px auto 37px;
      border: 2px solid #b1b3b7;
      border-radius: 50%;
      background: no-repeat center;
      background-color: @DARK-BLACK;
      background-size: cover;
    }

    &-name {
      font-size: 18px;
      color: @WHITE;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }

  &-logout-btn {
    display: block;
    height: 60px;
    margin-top: 100px;
    line-height: 60px;
    color: @WHITE;
    background-color: #40434b;
    transition: all 0.5s ease;

    &:hover {
      color: @danger;
      background-color: darken(#40434b, 5%);
    }
  }
}
