/**
 * container ProjectList styles
 */

@import '../../styles/colors';

.project-list-container {
  padding-top: 70px;
  min-height: 1200px;

  .project-item-component {
    position: relative;
    height: 366px;
    margin-bottom: 20px;
    padding: 34px 87px;
    border-radius: 4px;
    background-color: @white;

    .cover {
      background-color: @darkBg;
    }

    .info {
      left: auto;
      width: 756px;
      right: 87px;
    }

    .info-title {
      margin-top: 0;
      margin-bottom: 36px;
      color: @fontDark;

      &-tag {
        display: inline-block;
        position: relative;
        bottom: auto;
        right: auto;
        color: @fontLight;
        vertical-align: middle;
      }
    }

    .transfer-info {
      color: @fontLight;

      tr {
        border-bottom: 1px solid @border;

        &:last-child {
          border-bottom: 0;
        }

        .font-white {
          color: @fontLight;
        }

        td {
          &:last-child {
            width: 150px;
          }
        }
      }

      .count-down-component {
        display: inline-block;
      }
    }
  }

  .project-info-bar-component {
    &-item {
      background-color: @LIGHT-GRAY-1;

      .name {
        color: @fontLight;
      }

      .desc {
        background-color: @LIGHT-GRAY-2;
      }
    }
  }

  .project-list-pagination {
    margin-top: 63px;
    margin-bottom: 108px;
    background-color: transparent;
  }
}
