/**
 * container ProjectList styles
 */

@import '../../styles/colors';

.project-list-container {
  padding-top: 42px;

  .project-item-component {
    height: 366px;
    margin-bottom: 20px;
    padding: 34px 87px;
    border-radius: 4px;
    background-color: @white;

    .cover {
      background-color: @darkBg;
    }
  }
}
