/**
 * container HelpList styles
 */

@import '../../styles/colors';
@import '../../styles/variables';

.help-list-container {
  position: relative;

  .pagination-component {
    margin-top: 87px;
    background-color: @lightBg;
  }
}
