/**
 * container NewsList styles
 */

@import '../../styles/colors';

.news-list-container {
  padding-top: 70px;
  padding-bottom: 100px;

  .news-list {
    &-wrapper {
      padding: 30px 170px;
      background-color: @white;
      border-radius: 8px;
      overflow: hidden;
    }

    &-list {
      overflow: hidden;
    }

    &-pagination {
      margin-top: 50px;
      margin-bottom: 46px;
    }
  }
}
