// 颜色常量
@GOLD-YELLOW: #ffd800;
@LIGHT-BLACK-1: #2d2f33;
@DARK-GRAY-1: #484b53;
@DARK-GRAY-2: #393c42;
@DARK-GRAY-3: #92979e;
@LIGHT-GRAY-1: #9e9e9f;
@LIGHT-GRAY-2: #d4d4d4;
@LIGHT-GRAY-3: #dbdcde;
@LIGHT-GRAY-4: #f5f5f5;

// 品牌色
@brandColor: @GOLD-YELLOW;

// Header && Footer 背景色
@headerBg: @DARK-GRAY-1;
@headerOptColor: @LIGHT-GRAY-2;
@footerColor: @LIGHT-GRAY-3;
@copyRightBg: @DARK-GRAY-2;
@copyRightColor: @LIGHT-GRAY-1;

// 白色
@white: #fff;

// 黑色
@dark: #000;

// 按钮颜色
@buttonBg: @DARK-GRAY-1;
@buttonColor: @brandColor;

// 轮播图点
@slickDotBg: @LIGHT-GRAY-1;

// 公告
@announcementColor: @DARK-GRAY-3;

// 首页背景 1
@homeBgGray: @LIGHT-GRAY-4;

// 字体颜色
@fontDark: @LIGHT-BLACK-1;
@fontLight: @DARK-GRAY-1;
@fontLighter: @DARK-GRAY-3;
