// 颜色常量
@GOLD-YELLOW: #ffd800;
@DARK-GRAY-1: #484b53;
@DARK-GRAY-2: #393c42;
@LIGHT-GRAY-1: #9e9e9f;
@LIGHT-GRAY-2: #d4d4d4;
@LIGHT-GRAY-3: #dbdcde;

// 品牌色
@brandColor: @GOLD-YELLOW;

// Header && Footer 背景色
@headerBg: @DARK-GRAY-1;
@headerOptColor: @LIGHT-GRAY-2;
@footerColor: @LIGHT-GRAY-3;
@copyRightBg: @DARK-GRAY-2;
@copyRightColor: @LIGHT-GRAY-1;

// 白色
@white: #fff;

// 按钮颜色
@buttonBg: @DARK-GRAY-1;
@buttonColor: @brandColor;
