// Header 高度
@headerHeight: 70rem / 20;
@copyRightHeight: 37rem / 20;
@footerHeight: 220rem / 20 + @copyRightHeight;

// Container 宽度
@containerWidth: 1200rem / 20;

// 轮播图高度
@slickHeight: 350rem / 20;
