/**
 * container AcceptConfirm styles
 */

@import '../../styles/colors';

.accept-confirm-container {
  position: relative;
  padding-top: 191px;
  background-color: @WHITE;
  border-radius: 6px;

  .accept-confirm {
    &-table {
      margin: 24px auto 37px;
      font-size: 16px;
      color: @fontLight;

      td {
        position: relative;
        height: 16px;
        line-height: 21px;
        padding: 15px 20px;
      }

      textarea {
        width: 322px;
        border: 1px solid @border;
        padding: 12px;
        outline: none;

        &::-webkit-input-placeholder {
          color: #d4d4d4;
        }

        &:-ms-input-placeholder {
          color: #d4d4d4;
        }
      }

      ::-webkit-input-placeholder {
        color: @fontLightest;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: @fontLightest;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        color: @fontLightest;
      }

      :-ms-input-placeholder {
        color: @fontLightest;
      }

      label {
        position: relative;
        cursor: pointer;
        user-select: none;

        /*&::before {
          position: absolute;
          top: 3px;
          left: 3px;
          content: ' ';
          width: 16px;
          height: 16px;
          white-space: nowrap;
          background: @darkBg;
          background: linear-gradient(to top, darken(@darkBg, 10%) 0%, @darkBg 100%);
          cursor: pointer;
        }

        &::after {
          position: absolute;
          top: 7px;
          left: 7px;
          content: ' ';
          width: 8px;
          height: 8px;
          background: @brandColorDark;
          background: linear-gradient(to top, lighten(@brandColorDark, 10%) 0%, @brandColorDark 100%);
          border-radius: 50%;
          opacity: 0;
          cursor: pointer;
        }

        &:hover::after {
          opacity: 0.4;
        }*/
      }

      input[type=checkbox] {
        width: 0;
        height: 0;
        visibility: hidden;

        &:checked + label::after {
          opacity: 1;
        }
      }

      .color-orange {
        font-weight: bold;
        color: @brandColorDark;
      }

      .left-column-name-top {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
      }

      .left-column {
        text-align: right;
      }

      .err-msg {
        color: #ff4949;
        margin-top: 10px;
      }

      .quote-radio {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #d4d4d4;
        vertical-align: middle;
        margin-right: 10px;

        input[type='radio'] {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          z-index: 2;
        }

        & + label {
          vertical-align: middle;
          font-size: 14px;
          color: #484b53;
        }

        &.checked {
          background: #484b53;

          &::after {
            position: absolute;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background: #ffd800;
            border-radius: 50%;
            margin: 4px;
          }
        }
      }

      .pay-deposit {
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        background: #484b53;
        box-shadow: 0 -2px 6px 0 rgba(72, 74, 83, 0.2);
        border-radius: 6px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        color: #ffd800;

        &.disabled {
          color: #92979e;
          background: #ececec;
          pointer-events: none;
          cursor: auto;
        }
      }
    }

    &-button {
      margin-top: 37px;

      a {
        padding: 17px 60px;
      }
    }

    &-desc {
      width: 856px;
      margin: 56px auto;
      padding: 34px 64px 57px;
      border-top: 1px solid @border;
      text-align: center;

      &-title {
        font-size: 14px;
        color: @fontLight;
        line-height: 19px;
        margin-bottom: 8px;
      }

      &-text {
        font-size: 14px;
        line-height: 28px;
        color: @fontLighter;
      }
    }
  }
}
