/**
 * component Panel styles
 */

@import '../../styles/colors';

.panel-component {
  background-color: #fff;
  border-radius: 4px;
  border-top: 4px solid @panelBorder;
  padding: 26px 20.5px 33px;

  &-title {
    font-size: 18px;
    line-height: 24px;
    color: @fontDark;
    text-align: center;
    width: percentage(269 / 330);
    margin: 0 auto;
    border-bottom: 1px solid @border;
    padding-bottom: 14px;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-body {
    padding-top: 23px;
    font-size: 14px;
    color: @fontLight;
    line-height: 28px;
  }
}
