/**
 * container Transfer styles
 */

@import '../../styles/colors';

.transfer-container {
  .transfer {
    &-wrapper {
      padding-top: 94px;
    }

    &-title {
      font-size: 20px;
      color: @fontDark;
      font-weight: 600;
      text-align: center;
    }
  }
}
