/**
 * container Project styles
 */

@import '../../styles/colors';

.project-container {
  background-color: @lightBg;

  .project-wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .placeholder {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    background-color: @mediumBg;
  }

  &-left {
    float: left;
    width: 840px;
    background-color: @white;
  }

  &-right {
    float: right;
    width: 330px;
  }

  &-notice-panel {
    margin-top: 58px;
    margin-bottom: 26px;
  }

  &-progress-panel {
    margin-bottom: 66px;
  }

  &-qa-tab,
  &-quoting-tab {
    min-height: 800px;
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: @white;
  }

  &-detail-tab {
    background-color: @white;
    padding: 70px 80px 90px;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto 20px;
    }
  }

  &-qa-tab {
    padding-left: 63px;
    padding-right: 63px;

    &-item {
      &-q {
        font-size: 16px;
        color: @fontDark;
        margin-bottom: 16px;
        font-weight: bold;
      }

      &-a {
        font-size: 16px;
        color: @fontLighter;
        line-height: 28px;
        margin-bottom: 48px;

        span {
          color: @fontDark;
        }
      }
    }

    &-split {
      width: 100%;
      border: 1px solid @border;
    }

    &-intro {
      div.intro-inner {
        width: 100%;

        .intro-items {
          flex-wrap: wrap;

          .intro-item {
            width: 284px;
            margin-bottom: 41px;
          }
        }
      }
    }
  }
}
