/**
 * container Project styles
 */

@import '../../styles/colors';

.project-container {
  background-color: @projectBg;

  .project-wrapper {
    padding-top: 90rem / 20;
  }

  &-left {
    float: left;
    width: 840rem / 20;
    background-color: @white;
  }

  &-right {
    float: right;
    width: 330rem / 20;
  }

  &-notice-panel {
    margin-top: 58rem / 20;
    margin-bottom: 26rem / 20;
  }

  &-progress-panel {
    margin-bottom: 66rem / 20;
  }

  &-quoting-tab {
    padding-top: 70rem / 20;
    padding-bottom: 90rem / 20;
    background-color: @white;
  }

  &-detail-tab {
    background-color: @white;
    padding-top: 70rem / 20;
    padding-bottom: 90rem / 20;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
