/**
 * component HomeIntro styles
 */

@import '../../styles/colors';
@import '../../styles/variables';

.home-intro-component {
  .intro-inner {
    width: @containerWidth;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .intro-title {
    font-size: 20px;
    color: @fontDark;
    text-align: center;
    margin: 60px 0 57px;
  }

  .intro-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .intro-item {
      width: 243px;
      text-align: center;

      img {
        width: 120px;
        height: 120px;
        margin-bottom: 24px;

        &.partner {
          width: 230px;
          height: 110px;
        }
      }

      .title {
        font-size: 16px;
        color: @fontLight;
        margin-bottom: 16px;
      }

      .intro {
        font-size: 14px;
        color: @fontLighter;
        line-height: 24px;
      }
    }
  }

  .btn-quick-register {
    position: relative;
    display: block;
    width: 212px;
    height: 62px;
    margin: 20px auto 0;
    text-decoration: none;
    color: @brandColor;
    font-size: 16px;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 58px;
      text-align: center;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }

    &:hover {
      span {
        color: @white;
      }
    }
  }
}
