/**
 * container NewsDetail styles
 */

@import '../../styles/colors';

.news-detail-container {
  padding: (70rem / 20) 0 (81rem / 20);
  background-color: @lightBg;

  .news-detail {
    &-wrapper {
      padding: (70rem / 20) (189rem / 20) (60rem / 20);
      background-color: @white;
      border-radius: 8rem / 20;
      overflow: hidden;
    }

    &-title {
      font-size: 20rem / 20;
      color: @fontDark;
      text-align: center;
      line-height: 26rem / 20;
    }

    &-time {
      font-size: 14rem / 20;
      color: @fontLighter;
      text-align: center;
      line-height: 19rem / 20;
      margin-top: 23rem / 20;
    }
  }
}
